<h1>Listing rentals</h1>

<table>
  <tr>
    <th>Rentalid</th>
    <th>Name</th>
    <th>Price</th>
    <th>Animaltype</th>
    <th>Workertype</th>
    <th>Availability</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @rentals.each do |rental| %>
  <tr>
    <td><%= rental.rentalid %></td>
    <td><%= rental.name %></td>
    <td><%= rental.price %></td>
    <td><%= rental.animaltype %></td>
    <td><%= rental.workertype %></td>
    <td><%= rental.availability %></td>
    <td><%= rental.description %></td>
    <td><%= rental.image %></td>
    <td><%= link_to 'Show', rental %></td>
    <td><%= link_to 'Edit', edit_rental_path(rental) %></td>
    <td><%= link_to 'Destroy', rental, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Rental', new_rental_path %>
