<h2><%= rental.name %></h2>

<p>
    <%= link_to 'Edit', edit_rental_path(rental) %>
    <%= link_to 'X', rental, :method => :delete, :confirm => 'Are you sure you want to delete this post?' %>
</p>

<div>
    <% if rental.image.present? %>
        <%= image_tag rental.image, :width => '200', :height => '200' %>
    <% end %>

        <div>
            <b>Rental ID:</b>
            <%= rental.rentalid %>
        </div>
        
        <div>
            <b>Animal Type:</b>
          <%= rental.animaltype %>
        </div>
        
        <div>
            <b>Occupation:</b>
            <%= rental.workertype %>
        </div>
        
        <div>
            <b>Price:</b>
            $<%= rental.price %>/week
        </div>
        
        <div>
            <b>Available:</b>
            <%= rental.availability %>
        </div>
        
        <div>
            <b>Description:</b>
            <%= rental.description %>
        </div>
</div>