<p id="notice"><%= notice %></p>

<p>
  <b>Customerid:</b>
  <%= @customer.customerid %>
</p>

<p>
  <b>Firstname:</b>
  <%= @customer.firstname %>
</p>

<p>
  <b>Lastname:</b>
  <%= @customer.lastname %>
</p>

<p>
  <b>Email:</b>
  <%= @customer.email %>
</p>

<p>
  <b>Provinceid:</b>
  <%= @customer.provinceid %>
</p>

<p>
  <b>Addressid:</b>
  <%= @customer.addressid %>
</p>


<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
